<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SmartTrader</title>
	</head>
	<body>
    
		<h1>
			<span style="color: #194023; font-size: 2em; vertical-align: -10px;">$$</span> 
			Welcome to SmartTrader Console
			<span style="color: #194023; font-size: 2em; vertical-align: -10px;">$$</span>
		</h1>
		<h2>Enter a date</h2>

		<form method="POST">
			<input type="date" name="date", required>
			<input type="submit" value="Submit">
		</form>

		{% if user_input %}
			<h2>You have selected: {{ user_input }}</h2>
			<h4>NOTE: Price values in USD $</h4>
			<h1>NVDA Stock Predictions for the next 5 Business Days</h1>

			<table border="1">
				
				{% for row in result %}
				<tr>
					{% for cell in row %}
					<td style="padding: 10px; text-align: center">{{ cell }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
			
			<h1>Trading Strategy Recommendations Tables</h1>
			
			<table border="1">
				<tr>
					<th>Date</th>
					<th>Trading Action</th>
				</tr>
					
				{% for row in action %}
				<tr>
					{% for cell in row %}
					<td style="padding: 10px; text-align: center">{{ cell }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		
		{% endif %}

	</body>
	
</html>
